{% extends "nav.html"%}
{% block about %}

       <div class="article-body" style="font-size: 20px; text-align: center; align-items: center; justify-content: center;">
        <h2 class="article-title">
         Empresas
        </h2>
        <img style="max-width: 750px;" src="https://cdn0.vox-cdn.com/thumbor/nnENDaQm8ljsZOGURsRZ5G6rOAI=/0x0:1280x960/1200x800/filters:focal(0x0:1280x960)/cdn0.vox-cdn.com/uploads/chorus_image/image/49545057/20160427-apple-campus-cupertino.0.jpg">

        <p class="article-content">
          Crie projetos e desenvolva os talentos que sua empresa precisa! De maneira escalável e com uma comunidade ativa, ganhando em recurso humano, tempo e branding ao mesmo tempo!</p>

      </div>


{% endblock %}