{% extends "nav.html"%}
{% block home %}
 <main class="main columns">
  <section class="column main-column">
    <a class="article first-article" href="{{ url_for('intel') }}">
      <figure class="article-image is-4by3">
        <img src="https://cdn.instructables.com/ORIG/FHO/N5OD/ILTQE5N8/FHON5ODILTQE5N8.jpg" alt="">
      </figure>
      <div class="article-body">
        <h2 class="article-title">
          Projeto Intel for care
        </h2>
        <p class="article-content">
          Estão abertas as inscrições para a Competição de Sistemas Embarcados da Intel que vai acontecer durante o SBESC 2015. O prazo para submissão de propostas é até 10 de abril de 2015. 
        </p>
          <button class="material-button">Seguir projeto</button>
        <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
        </footer>
      </div>
    </a>

    <div class="columns">
      <div class="column nested-column">
        <a class="article" href="#">
          <figure class="article-image is-16by9">
            <img src="http://mms.businesswire.com/media/20150615005564/en/472512/5/ProjectIgniteLogo.jpg" alt="">
          </figure>
          <div class="article-body">
            <h2 class="article-title">
              Hello World
            </h2>
            <p class="article-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
                      <button class="material-button">Seguir projeto</button>
            <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
            </footer>
          </div>
        </a>
      </div>

      <div class="column">
        <a class="article" href="#">
          <figure class="article-image is-16by9">
            <img src="http://www.clipartkid.com/images/0/13-twitter-logo-vector-png-free-cliparts-that-you-can-download-to-you-f0BkHR-clipart.png" alt="">
          </figure>
          <div class="article-body">
            <h2 class="article-title">
              Desafio Twitter 2017
            </h2>
            <p class="article-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
                      <button class="material-button">Seguir projeto</button>
            <footer class="article-info">
          <span>By twitter</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
            </footer>
          </div>
        </a>
        <a class="article" href="#">
          <div class="article-body">
            <h2 class="article-title">
              Hello World
            </h2>
            <p class="article-content">
              Lorem ipsum dolor sit amet.
            </p>
                      <button class="material-button">Seguir projeto</button>
            <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
            </footer>
          </div>
        </a>
        <a class="article" href="#">
          <div class="article-body">
            <h2 class="article-title">
              Hello World
            </h2>
            <p class="article-content">
              Lorem ipsum dolor sit amet feugiat facilisis.
            </p>
                      <button class="material-button">Seguir projeto</button>
            <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
            </footer>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="column">
    <a class="article" href="#">
      <figure class="article-image is-3by2">
        <img src="http://sdtimes.com/wp-content/uploads/2015/04/0407.sdt-ibm-nasa.jpg" alt="">
      </figure>
      <div class="article-body">
        <h2 class="article-title">
          International Space Apps Challenge
        </h2>
        <p class="article-content">
          The Breakthrough, Innovative and Game-changing (BIG) Idea challenge is an initiative supporting NASA’s Game Changing Development Program (GCD) efforts to rapidly mature innovative/high impact capabilities and technologies for infusion in a broad array of future NASA missions. 
        </p>
                  <button class="material-button">Seguir projeto</button>
        <footer class="article-info">
          <span>By NASA</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <h2 class="article-title">
          Hello World
        </h2>
        <p class="article-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
                  <button class="material-button">Seguir projeto</button>
        <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <h2 class="article-title">
          Hello World
        </h2>
        <p class="article-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
                  <button class="material-button">Seguir projeto</button>
        <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <h2 class="article-title">
          Hello World
        </h2>
                  <button class="material-button">Seguir projeto</button>
        <p class="article-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <footer class="article-info">
          <span>By intel</span>
          <span>42 comentários</span>
          <span>120 participantes</span>
          <span>4 contratados</span>
        </footer>
      </div>
    </a>
  </section>
</main>

{% endblock %}
</body>
</html>
