{% extends "nav.html"%}
{% block about %}

<section id=timeline>
	<div class="header"><h1>Projeto Intel for care</h1>
	<a href="{{url_for('static', filename='projectintel.pdf')}}" target="_blank"><button class="material-button">PDF da proposta, instruções e metas do projeto</button></a>
	<p class="leader">Participe das etapas do desafio e construa seu currículo!</p>
	</div>
	<div class="demo-card-wrapper">
	<a href="/techintel">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>01</span>
				</div>
				<h2>Technology</h2>
			</div>
			<div class="body">
				<p>Todos os dados e informações relevantes as tecnologias necessárias para o andamento do projeto.</p>
				<img src="{{url_for('static', filename='tech-min.jpg')}}" alt="Graphic">
			</div>
		</div>
		</a>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>02</span>
				</div>
				<h2>Design</h2>
			</div>
			<div class="body">
				<p>Todos os dados e informações relevantes ao design, necessários para o andamento do projeto.</p>
				<img src="{{url_for('static', filename='design-min.jpg')}}" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>03</span>
				</div>
				<h2>Manufatura</h2>
			</div>
			<div class="body">
				<p>Todos os dados e informações relevantes à produção distribuição e manufatura, necessários para o andamento do projeto.</p>
				<img src="{{url_for('static', filename='manu-min.jpg')}}" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>04</span>
				</div>
				<h2>Testes</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="{{url_for('static', filename='test-min.jpg')}}" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>05</span>
				</div>
				<h2>Resultados</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="{{url_for('static', filename='result-min.jpg')}}" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>

{% endblock %}