{% extends "nav.html"%}
{% block techintel %}
<body>
<section id=timeline>
<div class="header"><h1>Projeto Intel for care</h1>
<p class="leader">01 Technology</p>

<div class="media attribution">
<div class="row">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="http://res.cloudinary.com/demo/image/facebook/65646572251.jpg" alt="me" />
  </a>
  <h5>@Stubbornella</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
  <div class="bd">
    </div>
</div>
</div>
</section>
</div>
</body>

{% endblock %}