{% extends "nav.html"%}
{% block techintel %}
<body>
<div class="header"><h1>Projeto Intel for care</h1>
<p class="leader">01 Technology</p>
</div>
<!--contribution-->


<div class="cont">
            <textarea rows="5" cols="50">
Escreva e jogue arquivos aqui!

Não esqueça das TAG's!
          </textarea>
          <button class="material-button">Enviar</button>
          </div>


<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="/usercv" class="img">
    <img src="http://orig11.deviantart.net/116f/f/2012/278/3/6/profile_picture_by_raichoniiiart-d5gv7lo.jpg" alt="me" />
  <h5>@Renato</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </a>
  <ul class="tags">
  <li><a href="#" class="tag">99+ HTML</a></li>
  <li><a href="#" class="tag">85 CSS</a></li>
  <li><a href="#" class="tag">54 JavaScript</a></li>
  </ul>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
  <div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="http://res.cloudinary.com/demo/image/facebook/65646572251.jpg" alt="me" />
  </a>
  <h5>@Leandro</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </div>
  <div class="column">
  <p>   <p>Muito bom, onde podemos melhorar? Acho que na linha 12 o Algorítmo pode ser otimizado!</p>
</div> 
</div> 
</div>
</div> 
</div> 
</div>

<!--contribution-->
<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="https://res.cloudinary.com/skiomusic-com-prod/image/upload/c_fill,d_profile_default_v2.jpg/v1483012239/profiles/33757/profile_image" alt="me" />
  </a>
  <h5>@Stubbornella</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  <ul class="tags">
  <li><a href="#" class="tag">12 design</a></li>
  <li><a href="#" class="tag">44 Autocad</a></li>
  <li><a href="#" class="tag">99+ Python</a></li>
</ul>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
</div>



<!--contribution-->
<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="http://res.cloudinary.com/demo/image/facebook/65646572251.jpg" alt="me" />
  </a>
  <h5>@Fla25</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
    <ul class="tags">
  <li><a href="#" class="tag">12 design</a></li>
  <li><a href="#" class="tag">44 Autocad</a></li>
  <li><a href="#" class="tag">99+ Python</a></li>
</ul>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
</div>


<!--contribution-->
<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="http://res.cloudinary.com/demo/image/facebook/65646572251.jpg" alt="me" />
  </a>
  <h5>@Stubbornella</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
</div>


<!--contribution-->
<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="http://res.cloudinary.com/demo/image/upload/c_fill,g_face,h_100,w_120/dpr_1.0,f_auto/smiling_man.jpg" alt="me" />
  </a>
  <h5>@Stubbornella</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
</div>



<!--contribution-->
<div class="media attribution">
<div class="row hover">
  <div class="column">
  <a href="http://twitter.com/stubbornella" class="img">
    <img src="https://res.cloudinary.com/skiomusic-com-prod/image/upload/c_fill,d_profile_default_v2.jpg/v1476867947/profiles/49/profile_image" alt="me" />
  </a>
  <h5>@Stubbornella</h5>
  <div class="bd">
    Posted 14 minutes ago
  </div>
  </div>
  <div class="column">
  <p>Seguem os códigos da interface! Revisei os arquivos do @PolaF, estavam excelentes!</p>
  <a href=""><button class="material-button dll">ArquivoInterface.html</button></a>
</div> 
</div> 
</div>


</body>

{% endblock %}